
/* -----------action------------- */
.action{
    display: flex;
    background-color: var(--primary-color-strong);
    width: 1296px;
    height: 70px;
    box-sizing: border-box;
    padding: 0 59px;
   
}

.side_left{
    display: flex;
    align-items: center;
    flex: 2;
    
}

.btn_action--left{
    width: 44px;
    height: 24px;
    border: none;
    background-color: var(--primary-color-strong);
    color: #595462;
    display: flex;
    justify-content: start;
}

.icon{
    font-size: 24px;
}
.search{
    background-color: hsla(0, 0%, 100%, 0.1);
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 440px;
    height: 40px;
}

.icon_search{
    font-size: 20px;
    color: white;
    margin: 0 6px;
}

.input_container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.search_input{
    background-color: rgba(12, 12, 12, 0.1);
    outline: none;
    border: none;
    width: 100%;
    color: white;
}

.img_user{
    height: 38px;
    width: 38px;
    border-radius: 50%;
}

.side_right{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: end;
}

.btn_action--right{
    border: none;
    padding: 12px 21px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
    background-color: var(--primary-color);
    color: white;
}
.btn_update{
    margin-right: 12px;
}

.btn_download{
    background-color: hsla(0, 0%, 100%, 0.1);
    color: var(--primary-color);
    position: relative;
    margin-right: 10px;
}
.icon_download{
    width: 20px;
    height: 20px;
    font-size: 20px;

}

.btn_setting{
    background-color: hsla(0, 0%, 100%, 0.1);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
}

.icon_setting{
    width: 20px;
    height: 20px;
    font-size: 20px;
    color:#d5d5d6;
}

.menu__setting {
    width: 380px;
    height: auto;
}
.menu__setting.dropdown-menu {
    background-color: #4c1074;
    color: white; /* Màu chữ bạn muốn */
}
.menu__setting.dropdown-menu .dropdown-item {
    color: rgb(161, 160, 160); /* Màu chữ cho các mục */
    font-size: 18px;
}

.menu__setting.dropdown-menu .dropdown-item {
    position: relative;
    padding: 10px;
    padding-right: 30px; /* Đảm bảo đủ khoảng trống cho icon */
}
.dropdown-item i{  /* icon */
    padding: 0 10px;
}

.menu__setting.dropdown-menu .dropdown-item:hover{
    background-color: #8a53ae;
}

.icon_next {
    float: right;
}

.menu-doc ul{
    list-style-type: none;
}
.menu-doc ul li{
    height: 40px;
    line-height: 40px;
    padding: 0 1em;
    position: relative;
}
.menu-doc ul li a{
    text-decoration: none;
        color: whitesmoke;
        display: block;
}

.menu-doc .sub-menu-doc {
    position: absolute;
    width: 400px;
    min-height: 300px;
    display: none;
    right: 378px;
    top: 0;
    background-color: #4b0f72;
}

.menu-doc:hover .sub-menu-doc 
{
    display:  block;
}
.menu-doc .sub-menu-doc li{
    padding: 20px 0;;
    display: flex;
    justify-content: space-between;
}

.menu-doc .sub-menu-doc li .checkbox{
    background-color: #4b0f72;
}

.btn-plus{
    background-color: rgb(238, 0, 0);
}

.sub-menu-doc li img{
    width: 100px;
    height: 80px;
}

