body{
    background-color: var(--primary-color-strong);
    
}

.left {
    width: 25%;
    height:750px;
    color: var(--primary-color);
    background-color: var(--background-navbar);
    
}
.img {
    height: 72px;
    width: 140px;
    margin-left: 15px;
    padding: 0 25px 0 0;
    background-image: var(--img-logo-mp3);
    background-size: 115px;
    background-repeat: no-repeat;
    background-position: center 20px; /* Dịch chuyển hình nền xuống dưới một chút */
}

/* ==============================(navbar left)================================== */
.icon{
    font-weight: 100;
}
.title{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:500;
    display: flex;
    gap: 10px;
    align-items: center;
}
.list_items{
    display: flex;
    flex-direction: column;   
}
.item{
    padding: 12px 21px;
    cursor: pointer;
    color: white;
    opacity: 0.6;
    font-size: 14px;
    margin: 2px;
}
.item p {
    margin-bottom: -2px;
}

.item:hover{
    opacity: 1;
    background-color: #807f815d;
    width: 100%;
    height: 100%;
   
    border-left: var(--primary-color) 5px solid;
}
.partition {
    margin: 12px 21px ;
    border-top: #807f815d 1px solid;
    width: 80%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 15px;
}





