.btn_m {
    background: var(--primary-color);
    border: none;
    border-radius: 50px;
    font-weight: 700;
    width: 240px;
    height: 40px;
    margin: 5px auto;
}
.btn_m:hover {
    background: #5a4c70;
    color: black;
    
}
.no-underline {
    text-decoration: none;
  }
.no-underline:hover{
    text-decoration: none;
}
.dropdown-menu-2 {
    margin-top: 20px;
    margin-left: -200px;
    width: 270px;
    max-height: 450px;
    background: #342944;
   
    overflow-y: auto;
    white-space: nowrap;
}
.dropdown-menu-2::-webkit-scrollbar {
    display: none;
}
.dropdown-menu-2 {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.dropdown-title {
    padding-top: 10px;
    margin-left: 15px;
    font-weight: 700;
}
.dropdown-bg, .dropdown-bg-2 {
    width: 240px;
    height: 200px;
    margin-left: 15px;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    margin-top: 10px;
    padding: 20px 0 15px;
}
.dropdown-bg {
    background: linear-gradient(45deg, #a2b5cd, white);
}
.dropdown-bg-2 {
    background: linear-gradient(45deg, #eedc82, white);
}
.text-title {
    display: flex;
}
.btn-2, .btn-3 {
    border-radius: 7px;
    margin-left: 5px;
    width: 60px;
    height: 20px;
    border: 0;
    text-align: center;
    background: var(--primary-color);
}
.btn-3 {
    width: 80px;
    background: #ee9a00;
}
.btn-2 p, .btn-3 p {
    font-size: 12px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
.text-item {
    color: var(--primary-color);
    font-size: 22px;
    font-weight: 700;
    margin-left: 15px;
}
.text-body, .text-body-2 {
    margin-left: 15px;
    font-size: 14px;
}
.text-body-2 {
    margin-top: -15px;
}
.btn_action, .btn_action--2 {
    border-radius: 15px;
    border: 0;
    width: 150px;
    height: 30px;
    margin-left: 15px;
    background: var(--primary-color);
}
.btn_action--2 {
    background: #ee9a00;
}
.btn_action p, .btn_action--2 p {
    font-size: 14px;
    font-weight: 700;
    margin-top: 4px;
    
}
