.container_rank{
    width: var(--width-main);
}

.text_all--rank{
    font-size: 13px;
    color: rgb(122, 122, 122);
}

.icon_all--rank{
    color: rgb(122, 122, 122);
}
.image{
    width: 120px;
    height: 120px;
}
.image>img{
    object-fit: contain;
    width: 120px;
    height: 120px;
    border-radius: 4px;
}
.font_style_number{
    color: white;
    opacity: .4;
    font-size: 40px;
    font-weight: 900;
    color: transparent;
    line-height: 1;
}

.text_content, .date_rank{
    font-size: 13px;
    color: rgb(122, 122, 122);
}
.slide{
    overflow: hidden;
    position: relative;
    height: 140px;
}
.list_image{
    transition: all 1s ease;
    gap: 10px;
}

.item_slide{
    width: 390px;
    height: 140px;
    background-color: hsla(0, 0%, 100%, 0.1);
    box-sizing: border-box;
    padding: 15px;
    border-radius: 5px;
}
.container_buttons{
    width: var(--width-main);
    z-index: 2;
    height: 140px;
    position: absolute;
}

.btn_arrow{
    background-color: white;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}