* {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
:root{
    --logoColor: #9b4de0;
    --clickChange: #9d9d9d;
    --hoverColor: #fb5151;
    --slideWidth: 1150px;
    --slideHeight: 500px;
}

*{
    margin: 0;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    
    -webkit-user-select: none;
    user-select: none;

}

body{
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar{
    width: 1px;
}
main 
{
    position: relative;
}
body {
    background-color: rgb(176, 175, 175);
    height: 720px;
    display: flex;
    align-items: center;
}

.form_sign {
    width: 400px;
    height: 700px;
    background-color: white;
    border-radius: 40px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: black 1px solid;
}
.form_contain--main{
    background-color: rgb(255, 255, 255);
    height: 90%;
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header{
    color: var(--logoColor);
    font-size: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.form_input{
    height: 80px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    box-sizing: border-box;
}

.form_input label{
    font-size: 15px;
    font-weight: 900;
}

.form_input input{
    font-family: sans-serif;
    font-weight: 400;
    height: 35px;
    outline: none;
    border: black 1px solid;
    width: 250px;
}
.form_input.error .item {
    border-color: #d93025;
}
.form_input.error #captchatext {
    border-color: #d93025;
}
.form_input input:hover{
    border: 2px solid rgb(0, 254, 68);
}


.form_input span{
    color: #333;
    font-size: 11px;
    font-weight: 100;
    height: 10px;
    font-family:  sans-serif;
    position: absolute;
    bottom: -10px;
}
@media screen and (max-width: 719px) {
    .form_sign{
        width: 350px;
        border-radius: 15px;
    }
    .form_up{
        height: 580px;
    }
    .form_contain--main{
        padding: 30px;
    }
}
@media screen and (min-width: 740px) and (max-width: 1023px) {
    .container{
        width: 100%;
    }
    .main{
        padding: 20px;
    }
}

@media screen and (max-width: 719px) {
    .container{
      width: 100%;
    }
    .main{
      padding: 20px 5px;
    }
    .block_btn{
        width: 50px;
        height: 150px;
    }
  }


.content {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
}
#captcha {
    border: 1px solid gray;
    display:flex;
    align-items: center;
    justify-content: center;
   margin-left: -10px;
    border-radius: 5px;
    width: 170px;
    height: 45px;
}
.regenerate_captcha {
    background-color: #9b4de0;
    border:none;
    color:white;
    width:10%;
    height: 45px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    padding: 12px 30px;
    margin-left: -12px;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}
#captchatext {
    padding:12px 20px;
    display:inline-block;
    font-weight: 400;
    height: 35px;
    width: 250px;
    border: 1px solid black;
    box-sizing: border-box;
    font-family: sans-serif;
    margin-top: 10px;
}
#captchatext:hover {
    border: 2px solid rgb(0, 254, 68);
}
.container.error .item {
    border-color: #d93025;
}
.icon-captcha {
   font-size: 24px;
}

.form_input .error-txt {
    font-size: 14.5px;
    color:#d93025;
    text-align: left;
    margin: -2px 0 10px;
    display:none;
}
.form_input.error .error-txt {
    display: block;
}



.form_input span{
    color: #333;
    font-size: 11px;
    font-weight: 100;
    height: 10px;
    font-family:  sans-serif;
    position: absolute;
    bottom: -10px;
}

.form_submit{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}


.form_submit button{
    background-color: var(--logoColor);
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 8px;
    margin-top: 30px;
}

.form_submit button:active{
    opacity: 0.7;
}

footer{
    
    align-items: center;
    flex-direction: column;
    gap: 12px;
}
footer a{
    font-family: sans-serif;
    text-decoration: none;
    color: var(--logoColor);
    display: flex;
    justify-content: center;
    text-align: center;
    color:#9b4de0;

}

footer a:hover{
    color:  rgb(143, 31, 143);
    text-decoration: none;
}
.isValid{
    color: var(--logoColor);
    border: 2px solid var(--logoColor);
}

.border--red{
    border: 2px solid  rgb(251, 15, 15);
}