* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

:root {
    --primary-color: #9b4de0;
    --background-navbar: #231b2e;
    --background-navbar-blur: rgba(23,15,35,0.8);
    --primary-color-strong: #170f23;
    --color-seekbar: #130c1c;
    --background-input: #34224f;
    --img-logo-mp3: url(https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg);
    --width-main: 1150px;
}
body{
    background-color: var(--primary-color-strong) !important;
    
}
header{
    display: flex;
}
main{
    padding: 0px 68px 86px 300px;
    box-sizing: border-box;
}
.active_page{
    display: block !important;
}
.page{
    display: none;
    margin-top: 80px;
}
#page_second{
    width: 100%;
    height: 100%;
}
footer{
    position: fixed;
    z-index: 9;
    width: 100%;
    bottom: 0;
    height: 90px;
    background-color: var(--color-seekbar);
    box-sizing: border-box;
    padding: 0 20px;
    user-select: none;
    border-top: 1px solid rgba(255, 255, 255, 0.257)
}