* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

:root {
    --primary-color: #9b4de0;
    --background-navbar: #231b2e;
    --primary-color-strong: #170f23;
    --img-logo-mp3: url(https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg);
    
}

header{
    display: flex;
}
